/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* start */
html{
  background-color: black;
}
body{
  max-width: 1000px;
  margin: auto;
  background-color: hsl(0, 0%, 80%);
  font-family: "Noto Sans Mono";
  font-weight: 600;
  color: hsl(39, 100%, 40%);
}
section{
  position: relative;
}
h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 5em;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  text-align: center;
}
a{
  text-decoration: none;
  color: hsl(280, 100%, 42%);
}
p{
  color: hsl(39, 100%, 40%);
}
fieldset{
    border: none;
    padding-block: 3em;
    background-color: white;
    box-shadow: 0px 3px 6px 1px hsl(0, 0%, 55%);
    margin: 0;
}
form > *{
  padding-inline: 2em;
}
#Form{
  align-self:center;
}
div.input{
  position: relative;
}
input{
  max-width: 14em;
  color: hsl(39, 100%, 40%);
  font-weight: 500;
  height: 2rem;
}
input:focus, input:hover{
  outline: 2px solid hsl(39, 100%, 40%);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
input:invalid{
  outline-color: red;
}
button{
  margin-block: 2em .8em;
  padding: .7em 2em;
  border-radius: 5px;
  color: hsl(280, 100%, 42%);
  border: none;
  background-color: inherit;
  border: 2px solid hsl(280, 100%, 42%);
  transition: .3s ease-in;
}
button:hover{
  background-color: hsl(280, 100%, 42%);
  color: white;
  cursor: pointer;
}
button:active{
  background-color: hsl(280, 100%, 42%);
  opacity: .8;
}
#showPassword,#showAgainPassword{
  cursor: pointer;
}
.show{
  position: absolute;
  right: 50px;
  top: 50%;
}
#passwordNotMatch{
  width: 100%;
  text-align: center;
}
@media (min-width: 560px) {
    main{
        display: flex;
    }
    #Form{
      width: 60%;
    }
    img{
      width: 100%;    
      height: 100vh !important;
      object-fit: cover;
    }
    #image-And-Title{
      width: 40%;
    }
    fieldset{
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 1em;
    }
    .input input{
      display: block;
      width: min(300px, 100%);
    }
}